body {
   max-width: 1280px;
   margin: 0 auto;
}

.App {
   text-align: center;
   position: relative;
}

a {
   text-decoration: none;
   color: inherit;
}

.navbar-wrapper {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   padding: 0 20px;
   position: sticky;
   top: 0;
   z-index: 99;

   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   cursor: pointer;
}

.navbar h3.logo-title {
   font-size: 32px;
   color: navy;
}

.home {
   padding: 20px;
   background-color: #fff;
}

.home h1.welcome {
   color: gray;
}

.welcome b {
   color: navy;
}

.books-wrapper {
   display: flex;
   align-items: center;
   background: #f9f9f9;
   gap: 20px;
   flex-wrap: wrap;
   padding: 20px;
   border-radius: 12px;
}

.home h4 {
   margin-top: 30px;
}

/* Loader Spinner */
@keyframes spinner {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.spinner-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

.loading-spinner {
   width: 50px;
   height: 50px;
   border: 10px solid #f3f3f3; /* Light grey */
   border-top: 10px solid #383636; /* Black */
   border-radius: 50%;
   animation: spinner 1.5s linear infinite;
}

/* BookCard */
.book-card {
   margin: 0 auto;
   padding: 50px 0;
   position: relative;
}

.book-card img.book-img {
   width: 320px;
   object-fit: cover;
   border-radius: 10px;
}

.book-title {
   position: absolute;
   top: 60px;
   left: 30%;
   color: #f0e9e9;
   font-weight: 600;
   background-color: darkgrey;
   padding: 5px 8px;
   border-radius: 4px;
}

.show-more {
   cursor: pointer;
   position: absolute;
   bottom: 70px;
   left: 35%;
   font-weight: 600;
   background-color: #007bff;
   color: #fff;
   padding: 5px 8px;
   border-radius: 4px;
   border: none;
   transition: background-color 0.3s ease-in-out;
}

.show-more:hover {
   background-color: #0062cc;
}

/* Book Details */
.bookDetails {
   margin: 20px 60px;
   background: #f0e9e9;
   border-radius: 12px;
   display: flex;
   align-items: center;
   justify-content: start;
   overflow: hidden;
}

.bookDetail-img {
   flex: 1;
   padding: 0;
   object-fit: cover;
}

.more-details {
   flex: 1;
   padding: 20px;
   padding-left: 40px;
   display: flex;
   flex-direction: column;
   align-items: start;
   text-align: left;
}

a.go-back {
   align-items: center;
   color: #007bff;
   transition: color 0.3s ease-in-out;
}

a.go-back:hover {
   color: #0062cc;
}

button.add-to-shelf {
   margin-bottom: 20px;
   color: #0062cc;
   border: none;
   padding: 8px;
   border-radius: 6px;
   font-weight: 600;
   background: #fff;
   cursor: pointer;
}

/* Empty Shelf */
.empty-shelf {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   /* height: 300px; */
}

.empty-shelf h2 {
   font-size: 1.5rem;
   margin-bottom: 20px;
}

.empty-shelf img {
   max-width: 500px;
}
